{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "globals": {
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "block-scoped-var": "off",
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": "warn",
    "comma-dangle": "error",
    "comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "complexity": "off",
    "consistent-return": "error",
    "consistent-this": "off",
    "curly": "error",
    "default-case": "warn",
    "dot-notation": "off",
    "eol-last": "error",
    "eqeqeq": "warn",
    "func-names": "off",
    "func-style": "off",
    "guard-for-in": "warn",
    "handle-callback-err": "error",
    "indent": [
      "error",
      2
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "key-spacing": [
      "error",
      {
        "afterColon": true,
        "beforeColon": false
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "max-depth": "off",
    "max-len": [
      "warn",
      80,
      2
    ],
    "max-nested-callbacks": "off",
    "max-params": "off",
    "max-statements": "off",
    "new-cap": "off",
    "new-parens": "error",
    "no-alert": "warn",
    "no-array-constructor": "error",
    "no-bitwise": "warn",
    "no-caller": "error",
    "no-catch-shadow": "error",
    "no-cond-assign": "error",
    "no-console": "off",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "error",
    "no-dupe-keys": "error",
    "no-else-return": "off",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-eq-null": "warn",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "off",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "warn",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "warn",
    "no-loop-func": "warn",
    "no-mixed-requires": "off",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": "warn",
    "no-multi-str": "error",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 2
      }
    ],
    "no-native-reassign": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-path-concat": "error",
    "no-plusplus": "off",
    "no-process-env": "off",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-redeclare": "warn",
    "no-regex-spaces": "error",
    "no-reserved-keys": "off",
    "no-restricted-modules": "off",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "off",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-sync": "off",
    "no-ternary": "off",
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "warn",
    "no-underscore-dangle": "off",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "off",
    "no-void": "warn",
    "no-warning-comments": [
      "warn",
      {
        "location": "start",
        "terms": [
          "fixme"
        ]
      }
    ],
    "no-with": "error",
    "one-var": "off",
    "operator-assignment": "off",
    "padded-blocks": "off",
    "quote-props": "off",
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "radix": "error",
    "react/display-name": "warn",
    "react/jsx-boolean-value": [
      "warn",
      "always"
    ],
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-no-undef": "warn",
    "react/jsx-sort-props": [
      "warn",
      {
        "ignoreCase": true
      }
    ],
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-multi-comp": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "warn",
    "react/require-render-return": "error",
    "react/self-closing-comp": "warn",
    "react/wrap-multilines": "warn",
    "semi": [
      "error",
      "never"
    ],
    "semi-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "sort-vars": "off",
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "space-in-brackets": "off",
    "space-in-parens": "off",
    "space-infix-ops": "error",
    "space-unary-ops": [
      "warn",
      {
        "nonwords": false,
        "words": true
      }
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "exceptions": [
          "-"
        ]
      }
    ],
    "strict": "off",
    "use-isnan": "error",
    "valid-jsdoc": "error",
    "valid-typeof": "error",
    "vars-on-top": "off",
    "wrap-iife": [
      "error",
      "any"
    ],
    "wrap-regex": "warn",
    "yoda": "off"
  }
}
